* {
  margin: 0;
  padding: 0;
}
ul, ol, li {
  list-style: none;

}
html, body {
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  background-color: #313131;
  padding: 12px 0;
  display: flex;
  justify-content: center;
}
.main__wrap {
  flex: 1 0 auto;
  max-width: 1200px;
  padding: 0 0.5rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sidebar__left {
  width: 30%;
}
.content__block {
  width: 70%;
}
.footer {
  width: 100%;
  min-height: 100px;
  background-color: dimgrey;
  align-self: end;
}